.env.json
.terraform*
*.swp
plan.file
__pycache__
!.terraform.lock.hcl
**.venv/
**plan_*.file
**.zip
**/dist/
**/package_source/
**.parquet
.DS_Store
temp_build/
.mypy_cache/
logs/
backend.hcl
terraform.tfvars
